PORT=5000
JWT_SECRET=job_portal_secret_key

DB_HOST=localhost
DB_PORT=3306
DB_USER=job_user
DB_PASSWORD=job_pass
DB_NAME=job_portal

CLOUDINARY_CLOUD_NAME=job_portal_cloud_name
CLOUDINARY_API_KEY=job_portal_cloudinary_api_key
CLOUDINARY_API_SECRET=job_portal_cloudinary_api_secret
 
REDIS_HOST=localhost
REDIS_PORT=6379
  
MEILI_HOST=http://127.0.0.1:7700
MEILI_API_KEY=smart_job_portal_meili_key
MEILI_INDEX=smart_job_portal
DOCUMENT_QUEUE_NAME=document-extraction
DOCUMENT_WORKER_CONCURRENCY=3
CV_PDF_MAX_BYTES=26214400
PDF_DOWNLOAD_TIMEOUT_MS=30000
PDF_MAX_EXTRACTED_TEXT_CHARS=5000000

BENCHMARK_BASE_URL=http://localhost:5000
BENCHMARK_JOB_ROWS=5000
BENCHMARK_DOC_ROWS=2000
BENCHMARK_BATCH_SIZE=250
